# Python
__pycache__/
*.py[cod]
*.so
.venv/
.python-version
.pytest_cache/

# Build
build/
dist/
*.egg-info/

# Documentation
docs/_build/
docs/generated/

# Logs, checkpoints, and datasets
*.log*
*.pkl
datasets/

# Notebooks and editors
.ipynb_checkpoints
.DS_Store
.idea/
.vscode/
*~
